$border-gray: #797979;
 
.app-container{
	width: 100%; background: url('../../../static/image/img7.jpg');
	header{
		width: 100%; height: 70px; background: rgba(255, 255, 255, 0.6);
		img{
			float: left; margin-left: 132px; margin-top: 30px; cursor: pointer;
		}
	}
	&>p{
		color: #000; font-size: 14px; text-align: left; margin-top: 30px; margin-left: 400px;
	}
	.main{
		width: 1100px; margin: 0 auto; margin-top: 10px;
		&:after{
			display: block; content: " "; clear: left;
		};
		.left{
			width: 700px; float: left;
			.userinfo{
				width: 698px; border: 1px solid $border-gray; height: 280px; background-color: #FFF;
				.userinfo-left{
					width: 180px; height: 260px; margin: 10px; border-right: 1px dashed $border-gray; float: left;
					&>img{
						width: 110px; height: 110px; border-radius: 50%; padding: 5px; border: 1px solid $border-gray;
					};
					p{
						margin: 16px 0;
						&:after{
							display: block; content: ""; clear: both;
						}; 
						.userinfo-icon{
							float: left; padding-left: 30px;
						}
						.userinfo-text{
							float: left; margin-left: 20px; text-align: left; font-size: 14px;
						}
					}
				}
				.userinfo-right{
					float: right; width: 440px; margin: 0 auto; margin-top: 50px;
					ul{
						list-style: none; margin-right: 50px; margin-bottom: 50px;
						li{
							float: left; margin: 0 26px;
							span{
								color: #567FF5; font-size: 30px; font-weight: bold;
							}
							p{
								color: #999; font-size: 14px; margin-top: 6px;
							}
						}
					}
					&>button{
					 cursor: pointer; width: 112px; height: 36px; border: 1px solid $border-gray; border-radius: 5px; margin: 30px 50px; margin-top: 60px;
					}
					.sixin-btn{
						margin-left: -30px; background-color: #FFF;
						&:hover{
							background-color: #567FF5; color: #FFF;
						};
					}
					.sq-btn{
						background-color: #567FF5; color: #FFF;
						&:hover{
							opacity: 0.9;
						};
					}
				}
			}
			.myques{
				width: 698px; border: 1px solid $border-gray; height: 260px; background-color: #FFF;
				ul{
					list-style: none;
					img{
						float: left; padding: 20px; margin-top: -20px;
					}
					li{
						height: 80px;
						h6{
							font-size: 14px; color: #567FF5; font-weight: lighter; text-align: left; margin-top: 20px;
						}
						p{
							font-size: 14px; text-align: left; height: 50px; overflow: hidden; text-overflow: ellipsis; border-bottom: 1px solid $border-gray; margin-right: 60px; padding-bottom: 10px;
						}
					}
				}
				&>a{
					font-size: 14px; margin-top: 16px; color: #567FF5; display: block; cursor: pointer;
					&:hover{
						text-decoration: underline;
					};
				}
			}
			.mycollect{
				width: 698px; border: 1px solid $border-gray; height: 260px; background-color: #FFF;
				ul{
					list-style: none;
					img{
						float: left; padding: 20px; margin-top: -20px;
					}
					li{
						height: 80px;
						h6{
							font-size: 14px; color: #567FF5; font-weight: lighter; text-align: left; margin-top: 20px;
						}
						p{
							font-size: 14px; text-align: left; height: 50px; overflow: hidden; text-overflow: ellipsis; border-bottom: 1px solid $border-gray; margin-right: 60px; padding-bottom: 10px;
						}
					}
				}
				&>a{
					font-size: 14px; margin-top: 16px; color: #567FF5; display: block; cursor: pointer;
					&:hover{
						text-decoration: underline;
					};
				}
			}
			h2{
				color: #FFF; text-align: left; margin: 10px 0;
			}
		}
		aside{
			width: 300px; height: auto; background-color: #FFF; float: right;
			.aside-main{
				width: 300px; color: #000;
				.aside-tab{
					width: 150px !important;
				}
				ul{
					list-style: none;
					li{
						height: 70px; width: 300px;
						img{
							width: 50px; height: 50px; float: left; margin-left: 20px;
						}
						span{
							font-size: 14px; float: left; width: 200px; text-align: left; margin-left: 20px; color: #567FF5;
						}
						p{
							float: left; font-size: 14px; margin-left: 90px; margin-top: -30px; text-align: left;
							margin-right: 30px; 
						}
					}
				}
			}
		}
	}
}
.el-tabs__item.is-active{
	color: #000;
}
